@import "colors";

ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

li {
    cursor: pointer;
    transition: padding 0.3s;
    margin-bottom: .4em;
}

li:hover {
    padding-left: 8px;
    color: $darkblue;
    font-weight: bold;
    border-left: 3px solid $lightblue;
}

.clicked {
    color: $darkblue;
    font-weight: bolder;
}
